/* Import the Titillium Web font */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400');

/* Apply box-sizing to all elements */
* {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif; /* Apply Titillium Web font to all elements */
}

body {
  max-width: 800px;
  margin: auto;
  padding: 12px;
  color: #fff;
  background: url("bg.html") #1c1c1c;
  font-size: 14px;
}

a {
  color: #99ee99;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.window {
  box-shadow: 1px 1px #000;
  border-image: url("border.png") 30 / 30px 30px;
  border-style: dashed;
  background: #525252;
  color: white;
  padding: 20px 4px 4px 4px;
}

.window .tabbar {
  background: url("tabs/tabbar.png") #4d4d4d;
  background-position: bottom;
  background-repeat: repeat-x;
  padding: 8px 4px 0px 4px;
  font-size: 0px;
}

.window .tabbar #logo {
  margin-right: 5px;
}

#article {
  padding: 6px 48px;
}

#article p,
#article h1,
#article h2,
#article h3 {
  margin: 0px;
  padding: 4px 0px;
}

#article pre,
#article ul {
  margin: 4px 0px;
  padding: 0px 28px;
  text-decoration: none;
}

#footer {
  font-size: 12px;
  text-align: left;
  margin: 0px 0px;
  border-collapse: collapse;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#footer hr {
  margin: 7px 0px;
  border: none;
  border-top: 1px solid #fff;
}

#noscript {
  display: block;
  float: right;
  font-size: 10px;
  text-align: right;
}

#footer a:hover {
  text-decoration: none;
}

#footer a img {
  opacity: 0.75;
}

#footer a:hover img {
  opacity: 1;
}

.fa {
  font-family: 'Titillium Web', sans-serif;
}

#footer #icon {
  width: 64px;
  padding-top: 8px;
  text-align: center;
  vertical-align: top;
}

#footer #spacer {
  width: 16px;
}

#totem {
  vertical-align: text-bottom;
}

.center {
  text-align: center;
  max-width: 100%;
}

noscript p {
  display: inline;
  margin: 0px;
  padding: 0px;
}

.u {
  /* I LOVE STANDARDS I LOVE STANDARDS I LOVE STANDARDS I LOVE STANDARDS I LOVE STANDARDS */
  text-decoration: underline;
}
